.card_cont{
    border-radius:10px;
    background-color: white;
    color:black;
    padding:30px;
    width:320px;
    margin-top:0px;
}

.card_cont h2{
    text-align: start;
    margin-bottom: 0px;
    margin-top:0px;
}

.addButton{
    background-color:#5e578c;
    color: white;
}

.part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.part h1{
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;

    font-size: 30px;
}

.part p{
    text-align: left;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.extra{
    text-align: left;
}

.img{
    background-color:#5e578c;
    margin-bottom: 0%;
}

.line{
    display: flex;
}

.but{
    border: black solid 2px;
    border-radius: 4px;
    font-size: 10px;
    margin-left: 15px;
    font-weight: normal;
    padding:3px;
    margin-top: 0px;
    margin-bottom: 0%;
}

#b1{
    margin-left: 0px;
}