.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

p{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

li{
    margin:0 15px;
    padding: 20px;
}