nav{
    background-color: rgb(0, 162, 255);
    color: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 32px;
    
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-content: center;
}

li{
    padding:12px;
    text-align: center;
}

@media (max-width:600px){
    nav{
        flex-direction: column;
        align-content: start;
    }

    ul{
        flex-direction: column;
        align-items: start;
    }
}

